# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Django stuff:
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
media/

# Virtual Environment
venv/
env/
ll_venv/
.venv
*.venv

# VS Code
.vscode/
*.code-workspace

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock

# ruff
.ruff_cache/

# pytest
.pytest_cache/

# node_modules (if any)
node_modules/