# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Jupyter Notebooks
.ipynb_checkpoints/

# VS Code
.vscode/
*.code-workspace

# PyCharm
.idea/
*.iml

# Python package / build
*.egg-info/
dist/
build/

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db

# Ruff cache
.ruff_cache/